/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		separator-style: solid;
		separator-width: 2pt;
		separator-color: #000000;
	}
}

mcTableStyle
{
	name: Unite T1;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	max-id: 5;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 35mm;
	cell-content-style-tag: p;
	cell-content-style-class: Unite_Col1_Body;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 11pt;
}

mcTableColumnStyle
{
	span: 99;
	id: 5;
	name: Column2;
	cell-content-style-tag: p;
	cell-content-style-class: Unite_Col2_Body;
	separator-style: solid;
	separator-width: 1pt;
	text-align: center;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1pt;
	ruler-color: #000000;
	font-size: 11pt;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	background-color: #ff0000;
	color: #ffffff;
	name: Header1;
	id: 3;
	text-align: center;
	vertical-align: middle;
	cell-content-style-tag: p;
	cell-content-style-class: Unite_Table_Header;
	font-size: 11pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Unite_T1
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Unite_T1-FootE-Column1-Footer1
	{
		border-top-width: 2pt;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-Unite_T1-FootF-Column1-Footer1
	{
		border-top-width: 2pt;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-Unite_T1-FootD-Column1-Footer1
	{
		border-top-width: 2pt;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-Unite_T1-FootE-Column2-Footer1
	{
		border-top-width: 2pt;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-Unite_T1-FootF-Column2-Footer1
	{
		border-top-width: 2pt;
		border-top-color: #000000;
		border-top-style: solid;
	}

	.TableStyle-Unite_T1-FootD-Column2-Footer1
	{
		border-top-width: 2pt;
		border-top-color: #000000;
		border-top-style: solid;
	}
}

.TableStyle-Unite_T1
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1pt;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1pt;
	border-spacing: 0px 0px;
}

.TableStyle-Unite_T1-Column-Column1
{
	width: 35mm;
}

.TableStyle-Unite_T1-Column-Column2
{
	
}

.TableStyle-Unite_T1-Head-Header1
{
	
}

.TableStyle-Unite_T1-HeadI-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadI-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadE-Column1-Header1
{
	font-weight: bold;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T1-HeadE-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadF-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T1-HeadF-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadH-Column1-Header1
{
	font-weight: bold;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadH-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadD-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T1-HeadD-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadC-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadC-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadB-Column1-Header1
{
	font-weight: bold;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadB-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadA-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadA-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadG-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadG-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadI-Column2-Header1
{
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadE-Column2-Header1
{
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T1-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadF-Column2-Header1
{
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T1-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadH-Column2-Header1
{
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadD-Column2-Header1
{
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T1-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadC-Column2-Header1
{
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadB-Column2-Header1
{
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadA-Column2-Header1
{
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-HeadG-Column2-Header1
{
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T1-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T1-Foot-Footer1
{
	
}

.TableStyle-Unite_T1-FootI-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootI-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootE-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T1-FootE-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootF-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T1-FootF-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootH-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootH-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootD-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T1-FootD-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootC-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootC-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootB-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootB-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootA-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootA-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootG-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootG-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-FootI-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootI-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootE-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T1-FootE-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootF-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T1-FootF-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootH-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootH-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootD-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T1-FootD-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootC-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootC-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootB-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootB-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootA-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootA-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-FootG-Column2-Footer1
{
	font-size: 11pt;
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T1-FootG-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-Body-Body1
{
	
}

.TableStyle-Unite_T1-BodyI-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyI-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyE-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyE-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyF-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyF-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyH-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyH-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyD-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyD-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyC-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyC-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyB-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyB-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyA-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyA-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyG-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyG-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyI-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyI-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyE-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyE-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyF-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyF-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyH-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyH-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyD-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: center;
}

.TableStyle-Unite_T1-BodyD-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyC-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyC-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyB-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyB-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyA-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: center;
}

.TableStyle-Unite_T1-BodyA-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyG-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: center;
}

.TableStyle-Unite_T1-BodyG-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-Body-Body2
{
	
}

.TableStyle-Unite_T1-BodyI-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyI-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyE-Column1-Body2
{
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyE-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyF-Column1-Body2
{
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyF-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyH-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyH-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyD-Column1-Body2
{
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyD-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyC-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyC-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyB-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyB-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyA-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyA-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyG-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T1-BodyG-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T1-BodyI-Column2-Body2
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyI-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyE-Column2-Body2
{
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyE-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyF-Column2-Body2
{
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyF-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyH-Column2-Body2
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyH-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyD-Column2-Body2
{
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: center;
}

.TableStyle-Unite_T1-BodyD-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyC-Column2-Body2
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyC-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyB-Column2-Body2
{
	font-size: 11pt;
	text-align: center;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T1-BodyB-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyA-Column2-Body2
{
	font-size: 11pt;
	text-align: center;
}

.TableStyle-Unite_T1-BodyA-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T1-BodyG-Column2-Body2
{
	font-size: 11pt;
	text-align: center;
}

.TableStyle-Unite_T1-BodyG-Column2-Body2 p
{
	font-size: 11pt;
}


