/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		size: 20mm;
	}

	mcTableColumnStyle
	{
		size: 50mm;
	}

	mcTableHeadStyle
	{
		color: #ffffff;
		cell-content-style-tag: none;
		cell-content-style-class: BodyHeading;
		background-color: #ff0000;
		font-family: calibri;
	}

	mcTableBodyStyle
	{
		cell-content-style-tag: p;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Unite T3;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 6;
	margin-left: 3.50cm;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	font-weight: bold;
	text-align: center;
}

mcTableColumnStyle
{
	span: 99;
	id: 5;
	name: Column2;
	text-align: center;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Unite_T3
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Unite_T3-Column-Column1
	{
		width: 20mm;
	}

	.TableStyle-Unite_T3-Column-Column2
	{
		width: 50mm;
	}

	.TableStyle-Unite_T3-HeadI-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadI-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadE-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadE-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadF-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadF-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadH-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadH-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadD-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadD-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadC-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadC-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadB-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadB-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadA-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadA-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadG-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadG-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadI-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadI-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadE-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadE-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadF-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadF-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadH-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadH-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadD-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadD-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadC-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadC-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadB-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadB-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadA-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadA-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T3-HeadG-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T3-HeadG-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}
}

.TableStyle-Unite_T3
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 3.50cm;
	border-spacing: 0px 0px;
}

.TableStyle-Unite_T3-Column-Column1
{
	
}

.TableStyle-Unite_T3-Column-Column2
{
	
}

.TableStyle-Unite_T3-Head-Header1
{
	
}

.TableStyle-Unite_T3-HeadI-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadI-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadE-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T3-HeadE-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadF-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T3-HeadF-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadH-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadH-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadD-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T3-HeadD-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadC-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadC-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadB-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadB-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadA-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadA-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadG-Column1-Header1
{
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadG-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadI-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadI-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadE-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T3-HeadE-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadF-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T3-HeadF-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadH-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadH-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadD-Column2-Header1
{
	text-align: center;
	color: #ffffff;
	background-color: #696969;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T3-HeadD-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadC-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadC-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadB-Column2-Header1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadB-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadA-Column2-Header1
{
	text-align: center;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadA-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-HeadG-Column2-Header1
{
	text-align: center;
	color: #ffffff;
	background-color: #696969;
}

.TableStyle-Unite_T3-HeadG-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-Unite_T3-Foot-Footer1
{
	
}

.TableStyle-Unite_T3-FootI-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootI-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootE-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T3-FootE-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootF-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T3-FootF-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootH-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootH-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootD-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T3-FootD-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootC-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootC-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootB-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootB-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootA-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootA-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootG-Column1-Footer1
{
	font-weight: bold;
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootG-Column1-Footer1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-FootI-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootE-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T3-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootF-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T3-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootH-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootD-Column2-Footer1
{
	text-align: center;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T3-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootC-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootB-Column2-Footer1
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootA-Column2-Footer1
{
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-FootG-Column2-Footer1
{
	text-align: center;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T3-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Unite_T3-Body-Body1
{
	
}

.TableStyle-Unite_T3-BodyI-Column1-Body1
{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyE-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyF-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyH-Column1-Body1
{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyD-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyC-Column1-Body1
{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyB-Column1-Body1
{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyA-Column1-Body1
{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyG-Column1-Body1
{
	background-color: #d3d3d3;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyI-Column2-Body1
{
	background-color: #d3d3d3;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyE-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyF-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyH-Column2-Body1
{
	background-color: #d3d3d3;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyD-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Unite_T3-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyC-Column2-Body1
{
	background-color: #d3d3d3;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyB-Column2-Body1
{
	background-color: #d3d3d3;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyA-Column2-Body1
{
	background-color: #d3d3d3;
	text-align: center;
}

.TableStyle-Unite_T3-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-BodyG-Column2-Body1
{
	background-color: #d3d3d3;
	text-align: center;
}

.TableStyle-Unite_T3-BodyG-Column2-Body1 p
{
	
}

.TableStyle-Unite_T3-Body-Body2
{
	
}

.TableStyle-Unite_T3-BodyI-Column1-Body2
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyI-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyE-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyF-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyH-Column1-Body2
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyH-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyD-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyC-Column1-Body2
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyC-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyB-Column1-Body2
{
	font-weight: bold;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyB-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyA-Column1-Body2
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyA-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyG-Column1-Body2
{
	font-weight: bold;
	text-align: center;
}

.TableStyle-Unite_T3-BodyG-Column1-Body2 p
{
	font-weight: bold;
}

.TableStyle-Unite_T3-BodyI-Column2-Body2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyI-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyE-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyE-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyF-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyF-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyH-Column2-Body2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyH-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyD-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
}

.TableStyle-Unite_T3-BodyD-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyC-Column2-Body2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyC-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyB-Column2-Body2
{
	text-align: center;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T3-BodyB-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyA-Column2-Body2
{
	text-align: center;
}

.TableStyle-Unite_T3-BodyA-Column2-Body2 p
{
	
}

.TableStyle-Unite_T3-BodyG-Column2-Body2
{
	text-align: center;
}

.TableStyle-Unite_T3-BodyG-Column2-Body2 p
{
	
}


