/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		size: 20mm;
	}

	mcTableColumnStyle
	{
		size: 50mm;
	}

	mcTableHeadStyle
	{
		color: #ffffff;
		cell-content-style-tag: none;
		cell-content-style-class: BodyHeading;
		background-color: #ff0000;
		font-family: calibri;
	}

	mcTableBodyStyle
	{
		cell-content-style-tag: p;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Unite T2;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	max-id: 7;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-content-style-tag: p;
	cell-content-style-class: Unite_Col1_Body;
	text-align: center;
	vertical-align: middle;
	size: 35mm;
	font-size: 11pt;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 99;
	id: 5;
	name: Column2;
	ruler-style: solid;
	ruler-width: 1pt;
	ruler-color: #000000;
	text-align: right;
	vertical-align: middle;
	separator-style: solid;
	separator-width: 1pt;
	cell-content-style-tag: p;
	cell-content-style-class: Unite_Col2_Right;
	cell-padding-right: 3pt;
	font-size: 11pt;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #000000;
	background-color: #ff0000;
	color: #ffffff;
	name: Header1;
	id: 3;
	cell-content-style-tag: p;
	cell-content-style-class: Unite_Table_Header;
	text-align: center;
	vertical-align: middle;
	font-size: 11pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #d3d3d3;
	name: Body1;
	id: 1;
	cell-content-style-tag: p;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2pt;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Unite_T2
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Unite_T2-Column-Column1
	{
		width: 20mm;
	}

	.TableStyle-Unite_T2-Column-Column2
	{
		width: 50mm;
	}

	.TableStyle-Unite_T2-HeadI-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadI-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadE-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadE-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadF-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadF-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadH-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadH-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadD-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadD-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadC-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadC-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadB-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadB-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadA-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadA-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadG-Column1-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadG-Column1-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadI-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadI-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadE-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadE-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadF-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadF-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadH-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadH-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadD-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadD-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadC-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadC-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadB-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadB-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadA-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadA-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}

	.TableStyle-Unite_T2-HeadG-Column2-Header1
	{
		color: #ffffff;
		font-family: calibri;
		background-color: #ff0000;
	}

	.TableStyle-Unite_T2-HeadG-Column2-Header1 p
	{
		color: #ffffff;
		font-family: calibri;
	}
}

.TableStyle-Unite_T2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1pt;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1pt;
	border-spacing: 0px 0px;
}

.TableStyle-Unite_T2-Column-Column1
{
	width: 35mm;
}

.TableStyle-Unite_T2-Column-Column2
{
	
}

.TableStyle-Unite_T2-Head-Header1
{
	
}

.TableStyle-Unite_T2-HeadI-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadI-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadE-Column1-Header1
{
	font-weight: bold;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T2-HeadE-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadF-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T2-HeadF-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadH-Column1-Header1
{
	font-weight: bold;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadH-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadD-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T2-HeadD-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadC-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadC-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadB-Column1-Header1
{
	font-weight: bold;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadB-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadA-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadA-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadG-Column1-Header1
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadG-Column1-Header1 p
{
	font-weight: bold;
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadI-Column2-Header1
{
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadE-Column2-Header1
{
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T2-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadF-Column2-Header1
{
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T2-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadH-Column2-Header1
{
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadD-Column2-Header1
{
	padding-right: 3pt;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Unite_T2-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadC-Column2-Header1
{
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadB-Column2-Header1
{
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadA-Column2-Header1
{
	padding-right: 3pt;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-HeadG-Column2-Header1
{
	padding-right: 3pt;
	color: #ffffff;
	font-size: 11pt;
	text-align: center;
	vertical-align: middle;
	background-color: #ff0000;
}

.TableStyle-Unite_T2-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-size: 11pt;
}

.TableStyle-Unite_T2-Foot-Footer1
{
	
}

.TableStyle-Unite_T2-FootI-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootI-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootE-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T2-FootE-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootF-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T2-FootF-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootH-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootH-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootD-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T2-FootD-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootC-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootC-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootB-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootB-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootA-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootA-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootG-Column1-Footer1
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootG-Column1-Footer1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-FootI-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootI-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootE-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T2-FootE-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootF-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T2-FootF-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootH-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootH-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootD-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	background-color: #c0c0c0;
	border-top-width: 2pt;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Unite_T2-FootD-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootC-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootC-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootB-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootB-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootA-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootA-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-FootG-Column2-Footer1
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	background-color: #c0c0c0;
}

.TableStyle-Unite_T2-FootG-Column2-Footer1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-Body-Body1
{
	
}

.TableStyle-Unite_T2-BodyI-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyI-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyE-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyE-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyF-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyF-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyH-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyH-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyD-Column1-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyD-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyC-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyC-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyB-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyB-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyA-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyA-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyG-Column1-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyG-Column1-Body1 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyI-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyI-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyE-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyE-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyF-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyF-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyH-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyH-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyD-Column2-Body1
{
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
}

.TableStyle-Unite_T2-BodyD-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyC-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyC-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyB-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyB-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyA-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
}

.TableStyle-Unite_T2-BodyA-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyG-Column2-Body1
{
	background-color: #d3d3d3;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
}

.TableStyle-Unite_T2-BodyG-Column2-Body1 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-Body-Body2
{
	
}

.TableStyle-Unite_T2-BodyI-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyI-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyE-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyF-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyH-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyH-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyD-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyC-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyC-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyB-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyB-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyA-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyA-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyG-Column1-Body2
{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.TableStyle-Unite_T2-BodyG-Column1-Body2 p
{
	font-size: 11pt;
	font-weight: bold;
}

.TableStyle-Unite_T2-BodyI-Column2-Body2
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyI-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyE-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyE-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyF-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyF-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyH-Column2-Body2
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyH-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyD-Column2-Body2
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
}

.TableStyle-Unite_T2-BodyD-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyC-Column2-Body2
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyC-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyB-Column2-Body2
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
	border-right-width: 1pt;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Unite_T2-BodyB-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyA-Column2-Body2
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
}

.TableStyle-Unite_T2-BodyA-Column2-Body2 p
{
	font-size: 11pt;
}

.TableStyle-Unite_T2-BodyG-Column2-Body2
{
	font-size: 11pt;
	text-align: right;
	vertical-align: middle;
	padding-right: 3pt;
}

.TableStyle-Unite_T2-BodyG-Column2-Body2 p
{
	font-size: 11pt;
}


